* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F7F7F7;
}
header a {
    text-decoration: none;
    color: black;
}
header h1 {
    margin: 0;
}
header nav {
  margin: 7px 0;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: medium;
}
.hero-profile img {
    width: 500px;
    padding: 50px 50px 0px 50px;
}
.hero-profile div {
padding-left: 150px;
padding-right: 150px;
}
.name {
  font-weight: bold;
  padding-top: 10px;
  font-size: 230%;
}
.job-title {
  padding-top: 10px;
  font-size: 120%;
}
.links a {
  text-decoration: none;
}
.links {
    padding-left: 50px !important;
    padding-top: 10px;
}
.links ul {
    list-style: none;
    display: flex;
}
.links ul li a {
    padding-right: 10px;
    font-size: 150%;
}
